#!/bin/bash

export PGPORT=50000

if [[ -z "$NODE_ENV" ]]; then
    export NODE_ENV=dev
fi
dotenv_if_exists "./setup/${NODE_ENV}.env"

# devbox integration : https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
eval "$(devbox generate direnv --print-envrc)"
